In [20]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn import preprocessing

In [21]:
dataset = pd.read_excel("Bank_Personal_Loan_Modelling.xlsx",sheet_name='Data')
dataset.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [22]:
dataset.isnull().sum()

ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

# Random Forest

In [23]:
from sklearn.ensemble import RandomForestClassifier

In [24]:
rf_model = RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)

In [25]:
features=["ID","Age","Experience","Income","Family","CCAvg","Education","Mortgage","Securities Account","CD Account","Online","CreditCard"]

In [26]:
rf_model.fit(X=dataset[features],y=dataset["Personal Loan"])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [27]:
for feature,imp in zip(features,rf_model.feature_importances_):
    print(feature,imp);

ID 0.0468414810774422
Age 0.04153359781877905
Experience 0.04031604820011625
Income 0.33624714361426483
Family 0.0921421426348116
CCAvg 0.1737621162392077
Education 0.1508460238242445
Mortgage 0.04299293873647325
Securities Account 0.005234926253102007
CD Account 0.05285632282698074
Online 0.008090761032006044
CreditCard 0.009136497742572134

Important Variables are Income,CCAvg,Education

# Decision Tree

In [28]:
predictors = pd.DataFrame([dataset["Income"],dataset["CCAvg"],dataset["Education"]]).T

In [29]:
tree_model=tree.DecisionTreeClassifier(max_depth=8)
tree_model.fit(X=predictors,y=dataset["Personal Loan"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=8, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [30]:
with open("DtreeBank.dot",'w')as f:
    f= tree.export_graphviz(tree_model,feature_names=["Income","CCAvg","Education"],out_file=f);