In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("general_data.csv")

In [3]:
#converting all columns to numeric
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
dataset.Attrition = le.fit_transform(dataset.Attrition)
dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [7]:
le = LabelEncoder()
dataset.BusinessTravel  = le.fit_transform(dataset.BusinessTravel)

In [8]:
le = LabelEncoder()
dataset.Department  = le.fit_transform(dataset.Department)

In [10]:
le = LabelEncoder()
dataset.EducationField  = le.fit_transform(dataset.EducationField)

In [11]:
le = LabelEncoder()
dataset.JobRole  = le.fit_transform(dataset.JobRole)

In [14]:
le = LabelEncoder()
dataset.MaritalStatus  = le.fit_transform(dataset.MaritalStatus)
s=[]
r=[]
dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,6,2,1,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,1,1,10,1,1,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,1,1,17,4,4,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,0,1,2,5,1,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,2,1,10,1,3,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [15]:
from scipy.stats import pearsonr

In [16]:
def findCorr(x,y):
    stats,p = pearsonr(x,y)
    stats = round(stats,2)
    if stats==0.0:
        rel = "No Correlation"
    elif stats>0:
        if stats<0.3:
            rel = "A weak positive relationship"
        elif stats < 0.7:
            rel = "A moderate positive relationship"
        else:
            rel = "A Strong positive relationship"
    else:
        if stats>-0.3:
            rel = "A weak Negative relationship"
        elif stats >-0.7:
            rel = "A moderate Negative relationship"
        else:
            rel = "A Strong Negative relationship"
    return stats,rel

# Attrition and age

In [19]:
stats,rel = findCorr(dataset.Attrition,dataset.Age)
print(f"Corr(Attrition,Age) = {stats}")
print(f"therefore there is {rel}")
s.append(stats)
r.append(rel)

Corr(Attrition,Age) = -0.16
therefore there is A weak Negative relationship

i.e Age increases them Attrition rate decreases

# Attrition and Bussiness Travel

In [21]:
stats,rel = findCorr(dataset.Attrition,dataset.BusinessTravel)
print(f"Corr(Attrition,BussinessTravel) = {stats}")
print(f"therefore there is {rel}")
s.append(stats)
r.append(rel)

Corr(Attrition,BussinessTravel) = 0.0
therefore there is No Correlation

# Attrition and Department

In [22]:
stats,rel = findCorr(dataset.Attrition,dataset.Department)
print(f"Corr(Attrition,Department) = {stats}")
print(f"therefore there is {rel}")
s.append(stats)
r.append(rel)

Corr(Attrition,Department) = -0.05
therefore there is A weak Negative relationship

# Attrition and Distance From Home

In [23]:
stats,rel = findCorr(dataset.Attrition,dataset.DistanceFromHome)
print(f"Corr(Attrition,DistanceFromHome) = {stats}")
print(f"therefore there is {rel}")
s.append(stats)
r.append(rel)

Corr(Attrition,DistanceFromHome) = -0.01
therefore there is A weak Negative relationship

# Attrition and Education

In [24]:
stats,rel = findCorr(dataset.Attrition,dataset.Education)
print(f"Corr(Attrition,Education) = {stats}")
print(f"therefore there is {rel}")
s.append(stats)
r.append(rel)

Corr(Attrition,Education) = -0.02
therefore there is A weak Negative relationship

# Attrition and Education Field

In [25]:
stats,rel = findCorr(dataset.Attrition,dataset.EducationField)
print(f"Corr(Attrition,EducationField) = {stats}")
print(f"therefore there is {rel}")
s.append(stats)
r.append(rel)

Corr(Attrition,EducationField) = -0.06
therefore there is A weak Negative relationship

# Attrition and JobLevel

In [29]:
stats,rel = findCorr(dataset.Attrition,dataset.JobLevel)
print(f"Corr(Attrition,JobLevel) = {stats}")
print(f"therefore there is {rel}")
s.append(stats)
r.append(rel)

Corr(Attrition,JobLevel) = -0.01
therefore there is A weak Negative relationship

# Attrition and JobRole

In [30]:
stats,rel = findCorr(dataset.Attrition,dataset.JobRole)
print(f"Corr(Attrition,JobRole) = {stats}")
print(f"therefore there is {rel}")
s.append(stats)
r.append(rel)

Corr(Attrition,JobRole) = 0.03
therefore there is A weak positive relationship

# Attrition and MaritalStatus

In [31]:
stats,rel = findCorr(dataset.Attrition,dataset.MaritalStatus)
print(f"Corr(Attrition,MaritalStatus) = {stats}")
print(f"therefore there is {rel}")
s.append(stats)
r.append(rel)

Corr(Attrition,MaritalStatus) = 0.16
therefore there is A weak positive relationship

# Attrition and MonthlyIncome

In [32]:
stats,rel = findCorr(dataset.Attrition,dataset.MonthlyIncome)
print(f"Corr(Attrition,MonthlyIncome) = {stats}")
print(f"therefore there is {rel}")
s.append(stats)
r.append(rel)

Corr(Attrition,MonthlyIncome) = -0.03
therefore there is A weak Negative relationship